{% extends 'base.html' %}
{% load custom_filters %}
{% block title_block %} Home {% endblock %}

{% block body_block %}
 <div class="container">
  <div class="row">
   <ul class="list-group">
        <li class="list-group-item active" aria-current="true">An active item</li>
        <li class="list-group-item">Physics Content</li>
        <li class="list-group-item">Math Content</li>
        <li class="list-group-item">Chemistry Content</li>
        <li class="list-group-item">English Content</li>
  </ul>
  
  
  
  </div>
<div style="padding:20px">
  <br>
  <br>
  <div
 {{ blog }}
 {% for blogs in blog %}
<h3>Blog TItle : {{ blogs.blog_title }} </h3>
<h6>Published Data: {{ blogs.publish_date }}</h6>
<div class="row">
 <div class="col-sm-4">
   <img src="media/blog_image/{{ blogs.blog_image }}" alt="{{ blogs.blog_title}}" title={{ blogs.blog_title}} width="100%"%>
 </div>
 <hr>
 <div class="col-sm-8"></div>
   <p>{{ blogs.blog_content|range_filter| linebreaks }}<a href="{% url 'App_author:blog_details' slug=blogs.slug %}">Read More</a></p>
   <h6>Posted_By: <a>@{{ blogs.author }}</a></h6>

</div>

</div>
  {% endfor %} 
 </div>
{% endblock %}